*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: blue;
}
div{
    font-family: Arial, Helvetica, sans-serif;
}
#navigation{
    display: grid;
    grid-template-columns: 10% repeat(5, auto) 10%;
}
.nav-Button{
    border: 2px solid white;
    text-align: center;
    color: white;
}

.moveForward{
    grid-column-start: 2;
}
#blogTitle{
    text-align: center;
    padding: 10px 0;
}
#blogBody{

}
.article{
    border: 2px solid white;
}

