*{
    background-color: #355970;
    font-family: Arial, Helvetica, sans-serif;
}
h2, h4, p{
    padding: 5px;
}
/* Navigation */
#navigation ul{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    height: 20px;
}
#navigation a{
    display: block;
    padding: 10px;
    top: 0;
    position: relative;
}
.nav-Button{
    font-size: 1.0rem;
    text-align: center;
    background-color: #65ABD6;
    color: aliceblue;
    text-decoration: none;
    transition: background-color 0.25s, color 0.25s;
    border-radius: 0 0 10px 10px;
}
.nav-Button:hover{
    background-color: #74C6FC;
    color: white;
}

#hero-image{
    width: 500px;
    margin: 10px;
}
#blogImages{
    width: 100%;
    border: 2px dotted aliceblue;
    background-color: white;
}
.blogTitle{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
    color: aliceblue
}
.blogContainer{
    color: aliceblue;
    width: 80%;
    display: block;
    margin: 0 auto;
}
.blogs{
    border: 1px solid white;
    height: 50%;
    display: grid;
    grid-template-columns: 75% auto;
    padding: 10px;
}
.sidebar{
    border: 1px solid white;
    padding: 10px;
}
.readMore{
    padding: 5px;
    font-size: 1.0rem;
    text-align: center;
    background-color: #65ABD6;
    color: aliceblue;
    text-decoration: none;
    transition: background-color 0.25s, color 0.25s;
    border-radius: 10px 10px 10px 10px;    
}
.readMore:hover{
    background-color: #74C6FC;
    color: white;
}